<!-- portfolio_project/app/templates/portfolio/projects.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects - Khribech Bouchaib</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    {% include 'portfolio/navbar.html' %}

    <!-- Main Content Wrapper -->
    <div class="main-content">
        <div class="container mt-5">
            <h1 class="text-center mb-4">My Projects</h1>
            <div class="row">
                {% for project in projects %}
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ project.title }}</h5>
                            <p class="card-text">{{ project.description }}</p>
                            <ul>
                                <li><strong>Technologies:</strong> {{ project.technology_used | join(', ') }}</li>
                                <li><strong>Duration:</strong> {{ project.duration }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Footer -->
    {% include 'portfolio/footer.html' %}
</body>
</html>
